/*
    Autor: Juan Vidal
    Camada: 14365
*/

/* Imports */
@import url("fonts.css");

/* Page Objects */
.navbar {
    transition: all 0.26s;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.89;
    filter: (opacity=89);
    text-align: center;
}

.navbar .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-brand {
    color: rgba(71, 7, 90, 0.89);
}

.navbar-brand:hover {
    color: rgba(#2e0049, 1);
}


.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgba(106, 66, 172, 0.7);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
}


/* Change navbar styling on scroll */
.navbar.active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        /*background: #fff;*/
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: rgb(0, 0, 0);
    }
}

html {
    color: white;
    background-color: black;

}

body {
    /* IE 10-11 didn't like using min-height */
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 19.89px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    color: rgb(13, 13, 13);
    background-color: rgba(26, 26, 26, 0.89);
    background-image: linear-gradient(130deg, #8b9ef1 0%, #2e0049 100%);

}

.jumbotron {
    background-color: rgba(234, 234, 234, 0.39);
}

.footer {
    font-size: 0.78em;
}

.footer img {
    vertical-align: left;
    height: 1.3em;
}

.colPoweredBy {
    padding-right: 5px;
    font-style: italic;
}

.footerLogo {
    padding-top: 2px;
    padding-left: 0px;
}

.LogoCoderHousewrapper {
    height: 1.3em;
    width: auto;
    background-position: left left;
    background-size: contain;
    background-repeat: no-repeat;
}

.topPagina {
    background-image: url("../img/js.back.2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25%;
    opacity: 0.78;
    filter: blur(2.6px);
    -webkit-filter: blur(2.6px);
}

.bgTopText {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.52);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    /*border: 3px solid #f1f1f1;*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    /*z-index: 2;*/
    width: 89%;
    padding: 26px;
    text-align: center;
}

.menuOpciones {
    padding-top: 13px;
    padding-bottom: 13px;
}

h1 {
    /*font-family: 'IBM Plex Sans';*/
    margin-top: 3em;
    text-align: center;
    font-size: 26px;
}

h2 {

    text-align: center;
    font-size: 19.89px;
}

.button {
    border-radius: 13px;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 3px;
    transition-duration: 0.39s;
    cursor: pointer;
}

.modal-dialog {
    width: 100%;
    height: 89%;
}

.modal-content {
    height: 78%;
    border-radius: 0;
}

.modal-title {
    color: #031a95;
    font-weight: bolder;
}

.modal-body {
    color: #2e0049;
    text-align: justify;
}

.h7 {
    font-size: 13px;
}

.tituloTabla {
    font-weight: bold;
    color: dodgerblue;
}

.contenidoTabla {
    font-weight: bold;
    color: whitesmoke;
}

div.paleBlueRows {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.paleBlueRows .divTableCell,
.divTable.paleBlueRows .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
    padding-top: 13px;
    padding-bottom: 13px;

}

.divTable.paleBlueRows .divTableBody .divTableCell {
    font-size: .89rem;
}

.divTable.paleBlueRows .divTableRow:nth-child(even) {
    background: #D0E4F5;
}

.divTable.paleBlueRows .divTableHeading {
    background: #0B6FA4;
    background: -moz-linear-gradient(top, #4893bb 0%, #237dad 66%, #0B6FA4 100%);
    background: -webkit-linear-gradient(top, #4893bb 0%, #237dad 66%, #0B6FA4 100%);
    background: linear-gradient(to bottom, #4893bb 0%, #237dad 66%, #0B6FA4 100%);
    border-bottom: 5px solid #FFFFFF;
}

.divTable.paleBlueRows .divTableHeading .divTableHead {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

.divTable.paleBlueRows .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.paleBlueRows .tableFootStyle {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

.paleBlueRows .tableFootStyle {
    font-size: 1rem;
    padding-top: 13px;
    padding-bottom: 13px;
}

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

* { box-sizing: border-box; }
body {
  /*font: 16px Arial;*/
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 13px;
  font-size: 13px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  color:rgba(67, 10, 158, 0.7);
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: DodgerBlue;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.li {
    text-align: justify;
}

.ul {
    text-align: justify;
}